.App{
    width: 100%;
    display: flex;
}
.sec-box {
    flex: 1;
    height: 100% !important;
}
.SVGCanvas{
    height: 550px !important;
}

.clicked-svg {
    outline: 2px dashed var(--background-light);
  }
  /* In your CSS file or styled-components */
.SVGCanvas {
    display: flex;
  }
  #svg-canvas{
    width: calc(100vw - 5.6rem)!important;

  }
  .code-column,
  .preview-column {
    max-width:  50% !important;
    width: 50% !important;
    height: calc(100vh - 7rem)!important;
  }

  .CodeMirror {
    height:calc(100vh - 7rem)!important;
    width: 100% !important;
  }